<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <div class="p-2 bd-highlight" style="color: #892cdc"><h1>GREAT, GO AHEAD MATE<br> CREATE YOUR OWN GIST SESSION !</h1></div>
    </div>
    <div class="col-md-8">
        <div class="p-2 bd-highlight"><%= render 'form', gist_session: @gist_session %></div>
        <div class="p-2 bd-highlight"><%= link_to 'back to book a session', gist_sessions_path, class: "custombtn btn m-4" %></div>
    </div>
  </div>
</div>

