<div class="banner">
  <div class="slogan-text">
    Gist anywhere, Talk to anyone
  </div>


  <div class="slogan-text-info">
    <%= link_to "Host  on-demand", new_gist_session_path, class: "calltoaction" %>
    <br>
    <%= link_to "join a group or Book one  >>", gist_sessions_path, class: "calltoaction" %>

    <br>
  </div>
</div>

<div class ="titles-box">
  <div class="home-titles">
    Most popular Gists
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card rounded" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1598500229528-391c3d2c1fae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1876&q=80')">
        <div class="card-body">
          <h5 class="card-title">Hobbies</h5>
          <p class="card-text">Hobbies gists designed for real people whether you’re a busy person in need of a quick morning activity, or a someone looking to pastime before sleep. Gisting about hobbies is undertaken for pleasure or relaxation, done during one's own time. It will be so cool to talk to others about an activity that you enjoy, and that you like to spend time doing when you are not working</p>
          <a href="#" class="homebtn btn-block">More info</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card rounded" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1577896851231-70ef18881754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
        <div class="card-body">
          <h5 class="card-title">School</h5>
          <p class="card-text">A School can be an institution for educating people or any institution at which instruction is given in a particular discipline. You could gist about school with other people, help share information or learn a lot from others about schools and educational institutions. </p>
          <a href="#" class="homebtn btn-block">More info</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card rounded" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
        <div class="card-body">
          <h5 class="card-title">Work</h5>
          <p class="card-text">Work is a job that you are paid for. You can gist with a group about activities involving mental or physical effort done in order to achieve a purpose or result.</p>
          <a href="#" class="homebtn btn-block">More info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="titles-box">
  <div class="home-titles">
    Hosts favourites
  </div>
</div>

<div class="container mb-4">
    <div class="row">
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem;">
          <img class="card-img-top" style="background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1308&q=80)">
          <div class="card-body">
            <h5 class="card-title">Travel</h5>
            <p class="card-text">Traveling is to go from one place to another, typically over a distance of some length. We can gist about your experience and run everything from an average session to a fantastic session, and that it just depends on how much your host knows or how much other guests in the session know as well. We can all share and learn more.</p>
            <a href="#" class="homebtn btn-block">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded" style="width: 20rem">
          <img class="card-img-top" style="background-image: url(https://images.unsplash.com/photo-1499364615650-ec38552f4f34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80)">
          <div class="card-body">
            <h5 class="card-title">Entertainment</h5>
            <p class="card-text">Entertainment is a form of activity that holds the attention and interest of an audience or gives pleasure and delight. It can be an idea or a task, but is more likely to be one of the activities or events that have developed over thousands of years specifically for the purpose of keeping an audience's attention. Without entertainment, we do not have any refreshments in our life. It plays a very big role in living a normal and happy life. Entertainment brings happiness, which is the most powerful medicine that helps to keep our mental health and well-being. It also means of drowning the monotony of our daily lives.</p>
            <a href="#" class="homebtn btn-block">More info</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded h-1000 w-20rem">
          <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
          <div class="card-body">
            <h5 class="card-title">Cooking</h5>
            <p class="card-text">Cooking or cookery is the art, science and craft of using heat to prepare food for consumption. Cooking techniques and ingredients vary widely across the world, from grilling food over an open fire to using electric stoves, to baking in various types of ovens, reflecting unique environmental, economic, and cultural traditions and trends.

            Types of cooking also depend on the skill levels and training of cooks. Cooking is done both by people in their own dwellings and by professional cooks and chefs in restaurants and other food establishments. Cooking can also occur through chemical reactions without the presence of heat, such as in ceviche, a traditional South American dish where fish is cooked with the acids in lemon or lime juice or orange juice. Preparing food with heat or fire is an activity unique to humans. It may have started around 2 million years ago, though archaeological evidence for it reaches no more than 1 million years ago.</p>
            <a href="#" class="homebtn btn-block">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="ad container">
  <div class="ad-text">
    YOLO
  </div>
</div>
