.custombtn {
  background-color: white;
  color: $lightpurple;
  border: 2px solid $lightpurple;
  text: center;
  border-radius: 3px !important;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  width: 240px !important;
  font-size: 13px !important;
  text-transform: uppercase;;
  &:hover {
    background-color: $lightpurple;
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}


.formbtn {
  background-color: $lightpurple;
  color: white;
  border: 1px solid $lightpurple;
  text: center;
  border-radius: 3px !important;
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
  width: 100% !important;
  font-size: 14px !important;
  text-transform: uppercase;;
  &:hover {
    background-color: white;
    color: $lightpurple;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.searchbtn {
  background-color: $lightpurple;
  color: white;
  border: 1px solid $lightpurple;
  text: center;
  border-radius: 3px !important;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  font-size: 14px !important;
  text-transform: uppercase;;
  &:hover {
    background-color: white;
    color: $lightpurple;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.homebtn {
  background-color: $lightpurple;
  color: white;
  border: 1px solid $lightpurple;
  border-radius: 3px !important;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  font-size: 14px !important;
  text-transform: uppercase;;
  &:hover {
    background-color: white;
    color: $lightpurple;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.calltoaction {
  color: #f8e1cd;
  font-style: italic;
  &:hover {
    transition-duration: 0.3s;
    text-decoration: none;
  }

}

.changemindbtn {
  background-color: white;
  color: $lightpurple ;
  text: center;
  border-radius: 3px !important;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 100% !important;
  font-size: 10px !important;
  text-transform: uppercase;;
  &:hover {
    background-color: white;
    color: $lightpurple;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.update-text-color input {
  color: white !important;
}

