.navlink {
  font-family: $body-font;
  text-decoration: none;
  color: $lightpurple;
  &:hover {
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
    background-color: $lightpurple !important;
  }
  &.active {
    background-color: white !important;
  }
}

.navcolor {
  background-color: $lightpurple;
}
